/* crear-editar-militante.component.css */
.custom-btn {
    height: 150px;
    /* Ajusta esta altura según sea necesario */
    font-size: 1.5rem;
    /* Ajusta el tamaño de la fuente para hacer el texto más grande */
}

.posicion {
    position: absolute;
}